/*----NOT MY CODE----*/
/*https://css-tricks.com/seamless-responsive-photo-grid/*/
#geeseContainer {
    line-height: 0;
    
    -webkit-column-count: 5;
    -webkit-column-gap:   0px;
    -moz-column-count:    5;
    -moz-column-gap:      0px;
    column-count:         5;
    column-gap:           0px;
}

#geeseContainer img {
    width: 100% !important;
    height: auto !important;
}

.gooseCard {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    /*
    background-size: contain;
    background-repeat: no-repeat;
    */
    position: relative;
    
}

.gooseCard div {
    position: absolute;
    top: 0px;
    height: calc(100% - 16px);
    width: calc(100% - 16px);
    color:rgba(0, 0, 0, 0);
    cursor: pointer;
    transition: all 0.2s;
    padding: 8px;
    overflow: hidden;
    line-height: normal;
}

.gooseCard div:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

@media (max-width: 1200px) {
    #geeseContainer {
    -moz-column-count:    4;
    -webkit-column-count: 4;
    column-count:         4;
    }
}
@media (max-width: 1000px) {
    #geeseContainer {
    -moz-column-count:    3;
    -webkit-column-count: 3;
    column-count:         3;
    }
}
@media (max-width: 800px) {
    #geeseContainer {
    -moz-column-count:    2;
    -webkit-column-count: 2;
    column-count:         2;
    }
}
@media (max-width: 400px) {
    #geeseContainer {
    -moz-column-count:    1;
    -webkit-column-count: 1;
    column-count:         1;
    }
}
/*----END OF COPIED CODE----*/


#gotdImg {
    float: right;
    height: 400px;
}

@media (min-width: 600px) {
    #gooseOfTheDay {
        height: 400px;
    }
}

#largeGooseDisplay {
    position: fixed;
    background-color: rgb(20, 32, 32);
    z-index: 20;
    margin: auto;
    

    left: 50%;
    top: 150%;
    transform: translate(-50%, -50%);

    transition: 0.5s all ease-in-out;
    width: 90%;
    height: 90%;

}

#largeGooseDisplay img {
    width: 45%;
    float: left;
    height: auto;
    object-fit: cover;
    height: 100%;
}

#largeGooseDisplay div {
    padding: 8px;
    float: right;
    text-align: left;
    width: 45%;
    position: relative;
    top: 0px;
    z-index: 15;
}

#lgdCloseButton {
    cursor: pointer;
    float: right;
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 30;
}

@media (max-width: 600px) {
    #largeGooseDisplay img {
        width: 100%;
        overflow: hidden;
        max-height: 100%;

        mask-image: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 99%, rgba(0,0,0,0) 100%);
        -webkit-mask-image: -webkit-linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 99%, rgba(0,0,0,0) 100%);
    }

    #largeGooseDisplay div {
        width: 90%;
        bottom: 0px;
        left: 0px;
        position: absolute;
        float: none;
    }

    #gooseOfTheDay {
        min-height: 400px;
    }
}